body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transform: All 0.3s ease;
  scroll-behavior: smooth scroll;
}

.text-wrap {
  word-wrap: break-word;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#header {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}

.bot-logo {
  font-size: 40px;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-dropdown {
  font-size: 1.6em;
  border: none;
  background-color: transparent;
  outline: none;
  margin: 10px;
  cursor: pointer;
}
.custom-select {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #f2f2f2;
}
.custom-container {
  display: flex;
  align-items: center;
}
#footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.about, .payment, .contact {
  display: inline-block;
  padding: 10px;
  font-size: 1.3em;
  margin:10px;
}
a{
  text-decoration: none;
  color:black;
}
a:hover{
  color:normal;
}