body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transform: All 0.3s ease;
  scroll-behavior: smooth scroll;
}

.text-wrap {
  word-wrap: break-word;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;

}

.ui.grid {
  padding: 0px 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
select {
  padding: 0 20px; ;
  background-color: rgb(27, 179, 179);
  color:white;
  width:100%;
  height: max-content;
  min-height: 40px;
  font-size:20px;
  border-radius: 10px;
  cursor:pointer;

}
.filter-container{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.filter, .sort{
  display:inline-block;
  margin:0;
  padding:0;
}


#header{
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}
.btn{
  padding:10px;
  margin:10px;
  background-color: rgb(27, 179, 179);
  border-radius: 10px;
  border:none;
  font-size:20px;
  color:azure;
  font-weight: bold;
  cursor:pointer;
}
.btn:hover{
  background-color: rgb(4, 85, 27);
}
.bot-logo{
  font-size: 40px;
  animation: spin 2s infinite linear;
  display:inline-block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}